<% slide_captcha_image_url = url_for(:controller => "slide_captcha", :action => :show, :id => id) -%>
<div id="slide_captcha">
	<p>Move the slider until the word lines up in the image, and enter this word in the text box below:</p>
	<div id="slide_captcha_image">
		<% for slice in 1..SlideCaptchaCode::N_SLICES do -%>
		<div id="<%= "slide_captcha_#{slice}" -%>" style="height: <%= SlideCaptchaCode::IMAGE_HEIGHT / SlideCaptchaCode::N_SLICES -%>px;background-image:url(<%= slide_captcha_image_url -%>)"></div>
		<% end -%>
	</div>
	
  <div id="slide_captcha_track">
    <div id="slide_captcha_handle"> </div>
  </div>
  
  <%= hidden_field :slide_captcha_response, :id, :value => id %>
  <%= text_field :slide_captcha_response, :code %>
</div>
</div>

<script type="text/javascript">
/* <![CDATA[ */
	document.observe("dom:loaded", function() {
		captchaSlide(0);
	});
	
	function captchaSlide(v) {
		for(i = 1; i < <%= SlideCaptchaCode::N_SLICES + 1 -%>; i++) {
			(i % 2) ? offset_x = -v : offset_x = v;
			offset_y = (-<%= SlideCaptchaCode::IMAGE_HEIGHT -%> * (i - 1) / <%= SlideCaptchaCode::N_SLICES -%>)
			$('slide_captcha_' + i).setStyle({backgroundPosition: offset_x + 'px ' + offset_y + 'px'});
		}
	}
	
  new Control.Slider('slide_captcha_handle','slide_captcha_track',{range:$R(0,125),
	  onSlide:function(v){captchaSlide(v)},
	  onChange:function(v){captchaSlide(v)}});
/* ]]> */
</script>